@cor: rgb(0, 255, 0);
@cor_cinza_claro: rgb(167, 164, 164);

body {
    background-color: @cor_cinza_claro;
}

h1 {
    .cores(50px);
    text-shadow: 2px 1px 1px #7a7b7c;
    font-size: 50px;
}

p {
    .cores(23px);

}

.cores(@tamanho) {
    color: @cor;
    background-color: @cor*0.2;
    font-size: @tamanho;
}