@cor: rgb(25, 0, 255);
@cor_cinza_claro: rgb(167, 164, 164);

@tamanho: 20px;

body {
    background-color: @cor_cinza_claro;
}

h1 {
    .cores('h1');

}

p {
    .cores('p');

}

.cores(@tag) {
    color: @cor;

    & when (@tag ='p') {
        background-color: lightgreen;
        font-size: @tamanho;
    }

    & when (@tag ='h1') {
        text-shadow: 2px 1px 1px #7a7b7c;
        font-size: @tamanho*1.23;
    }

}